<div style="color:#555">
 <div>
 梵石建筑FANES.ARCH
</div>
<br />
<div>
杭州市西湖区古墩路701号紫金广场B座709室
<br/>
709.set B Zijin Plaza No.701 Gudun RD. Hangzhou
<br/>
PC 310030<br/>
Tel.Fax 86-571 87007010 88916618<br/>
Mail fanessj@163.com<br/>
</div>
</div>
<br />
<iframe src="map.html" style="width:652px; height:312px; border:0px;padding:0px; margin:0px;" />
