公司简介
<hr />
<div>
<pre>
　　浙江梵石建筑设计管理研究院有限公司成立于2009年10月28日。“梵石/FANES”古英语意译“神殿、宗教建筑”，公司以“梵石”命名，意在期待员工在世俗浮躁中坚守理想，心怀澄净，愉快工作，以对神殿那份尊崇，怀抱虔诚，从事奉献，营塑长期与天地同存的建筑。
　　梵石建筑设计管理研究院有限公司聚集了一批优秀的设计师，他们追求“最完美的设计完成度”，以“建造真正的建筑”作为自己的专业使命。公司共有设计师40余人，其中国家一级注册建筑师、国家一级注册结构工程师、国家一级注册设备工程师共12名，高级工程师5名，工程师10余名。
　　专业齐全，土建设计、景观设计、室内设计一起服务于一个项目，尽可能打造“最完美的设计完成度”是梵石设计公司一大特点。
　　做设计，同时做设计管理是梵石设计公司又一个特点。
　　设计管理是协调与管理不同的设计阶段与设计类型，使所有的设计真正的能集成一体，从而达到完美的设计完成度。设计管理又促使设计在精度，深度的追求更上一层楼。
　　通过全过程参与项目管控，浙江梵石建筑设计管理研究院有限公司参与设计管理的杭州壹向大楼、慈溪双囍花园、慈溪壹方大厦、无锡洛城中央御景等均达到了较理想的项目完成度。
</pre>
</div>

设计团队
<hr />
<div>
<%= image_tag 'shejituandui/1.jpg' %>
</div>

光合田园
<hr />
<div>
<pre>
　　梵石建筑崇尚“做有品质的设计，过有品质的生活”、“半农半X”的生活理念，设有自己的有机耕种农场——光合田园。光合田园占地一公顷，距公司30分钟车程，是员工亲躬耕作、放松身心、收获大自然馈赠的乐园。
</pre>
<% (1..52).to_a.each do |idx| %>
<%= image_tag 'guanghetianyuan/' + idx.to_s + '.jpg' %>
<% end %>
</div>
