<div class="title">
  <a id="家具及产品">家具及产品</a>
</div>
<hr />
<div>
　　梵石建筑在从事规划、建筑、室内、景观设计的同时，兼顾更微观层次的家具、产品的设计延展。
<% (1..40).to_a.each do |idx| %>
<%= image_tag 'jiajujichanpin/' + idx.to_s + '.jpg' %>
<% end %>
</div>

<div class="title">
  <a id="研究论文">研究论文</a>
</div>
<hr />
<div>
</div>
<div class="title">
  <a id="建筑画">建筑画</a>
</div>
<hr />
<div>
<% (1..43).to_a.each do |idx| %>
<%= image_tag 'jianzhuhua/' + idx.to_s + '.jpg' %>
<% end %>
</div>
