/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap.min
 *= require bootstrap/bootstrap-theme.min
 *= require shejixiangmu
 *= require_self
 * require_tree .
 */
.content{
  margin: 0 auto;
  width: 1440px;
  height: 900px;
  text-align: left;
}

body{font-family: "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;}
body,form,h1,h2,h3,h4,div,span,p,hr{margin:0px;padding:0px; }
body ul,body li{list-style: none;padding:0px; margin:0px;font-family: "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;}
a:link,a:visited{color:#000;text-decoration:none;}
.content{margin:0 auto;width:1000px;height:700px; overflow:hiddden; text-align:left; list-style: none;}
.topLogo {margin: 30px 0px 18px 58px; }
.menu_first{ cursor:pointer;padding:5px 0px; margin-bottom:10px; text-align:center;font-size:14px; width:180px; background:#ebebeb;}
.menu_second{ margin:10px 0px;display:none;font-size:14px; }
.menu_second li{cursor:pointer; padding:5px 0px; margin:3px 0px; text-align:center;width:180px; }
.content_left {margin-left:77px;width:200px;}
.content_right{margin-left: 20px;width:630px;word-wrap:break-word; font-size:12px; line-height:34px; font-size:14px;}
.content_right .row {margin-bottom:30px;}
.content_right hr{ margin:2px 0px 10px 0px; color:#aaa; font-weight:bold;border-top:1px solid #aaa;}
.content_right img{ margin:10px 0px 10px 0px;}
.slidesjs-pagination{ text-align:right;  float:right}
.slidesjs-pagination li{ float:left;}
.slidesjs-pagination li a{ display:block;  line-height:45px; width:14px; height:14px;background:#ccc; margin:14px 0px 0px 14px;}
.slidesjs-pagination li a.active{background:#000;}
.title{ font-size:14px; font-weight:bold;}
.title a{color:#000; cursor:default; text-decoration:none;}
.summary{ margin:5px 0px;}
.summary p{ text-indent:28px;}
.hover{background:#d4d4d4;}
