<div class="title"><%= @title %></div>
<hr />
<div><%= simple_format @text %></div>
<% @num_array.each do |idx| %>
  <%= image_tag(IMG_SITE + image_path(@image_path + idx.to_s + '.jpg').sub('/assets', '')) %>
<% end %>
