<!DOCTYPE html>
<html lang="zh-cn">
  <head>
      <meta charset="utf-8">
      <title>梵石建筑</title>
      <style>
         a:link,a:visited{color:#000;text-decoration:none;}
         .content{background: url(/assets/index_backgroud.png) no-repeat ; margin:0 auto;width:1280px;height:700px; overflow:hiddden; text-align:left;}
         .message{padding:130px 0px 0px 380px;font-weight:bold; font-size:18px;line-height:36px;letter-spacing:3px;}
      </style>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>
        var isShow = false;
        $(function(){
            $("#enter").show(2000);
            setTimeout(function(){
               setInterval(function(){
                   if(isShow){
                      $("#spanEnter").hide();
                   }else{
                      $("#spanEnter").show();
                   }
                   isShow = !isShow;
                 }, 500);
              }, 2000);
          });     
      </script>
  </head>
  <body >
    <div class="content" >
    <div style="padding:30px 200px">
      <%=link_to image_tag('/assets/logo.png'), '/'%>
    </div>  
      <div class="message">
        <a href="/shejixiangmu/vice_index">
          <span id="enter" style="display:none;">
          梵石/FANES，古英语意译“神殿、宗教建筑”
          <br />
          <br />
          意在浮躁中坚守宗教及传统美德的导引，心怀澄净，守望襄助
          <br />
          以对神殿那份尊崇，营塑长期与天地同存的建筑
          </span>
          <span id="spanEnter" style="display:none;">   >> </span>
        </a>
    </div>
    </div>
  </body>
</html>
