<div class="row">
  <%= image_tag 'jiudiandujia/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiudiandujia/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiudiandujia/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'jiudiandujia/4.jpg', class: 'col-md-3' %>
</div>
