<div id="slides">
  <%= image_tag 'slides/1.jpg' %>
  <%= image_tag 'slides/2.jpg' %>
  <%= image_tag 'slides/3.jpg' %>
  <%= image_tag 'slides/4.jpg' %>
</div>

<script>
  $(function (){
    $('#slides').slidesjs({
      width: 650,
      height: 445,
      navigation: false,
      play: {
        auto: true,
      }
    });
  });
</script>
